---
import type { MarkdownInstance } from 'astro'
import type { Frontmatter } from '@/types/astro'
import Base from '../../layouts/OldBase.astro'
import Link from '../../components/base/Link.astro'
const posts = Object.values<MarkdownInstance<Frontmatter>>(import.meta.glob('./*.mdx', { eager: true }))
---

<Base>
  <article class='mt-16'>
    <div class='mb-8 text-xl'>文章列表</div>
    <section class='md:grid-cols-post grid gap-12'>
      {
        posts.map(post => {
          const cover = post.frontmatter.cover
          return (
            <Link href={post.url}>
              <div>
                <div class='h-64 w-full overflow-hidden rounded-md'>
                  <img class='h-full w-full' src={cover} />
                </div>
                <h1 class='mt-6 break-words'>{post.frontmatter.title}</h1>
                <p class='mt-2 break-words text-[#718096]'>{post.frontmatter.description}</p>
              </div>
            </Link>
          )
        })
      }
    </section>
  </article>
</Base>
