---
import { siteTitle } from '../config'
import '../styles/global.css'
---

<!DOCTYPE html>
<html lang='zh' class='h-full'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='baidu-site-verification' content='codeva-HJp6gdG5RV' />
    <meta name='author' content='李义壮, Li Yizhuang, liyizhuang' />
    <meta
      name='description'
      content='最顶级的人才喜欢一起工作，而且他们是不能容忍平庸作品的'
    />
    <meta
      name='keywords'
      content='React, Vue, vite, Astro, Next, Nest, web, js, javascript, 前端, 后端, 开发, sls, 李哈哈'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='https://static.lihaha.cn/avatar/smiley.svg'
    />
    <meta name='generator' content={Astro.generator} />
    <title>{siteTitle}</title>
  </head>
  <body class='h-full text-gray-100'>
    <slot />
    <script is:inline src='https://tam.cdn-go.cn/aegis-sdk/latest/aegis.min.js'
    ></script>
    <script is:inline>
      const hostname = window.location.hostname
      const env =
        hostname === 'localhost'
          ? Aegis.environment.local
          : hostname === 'liyizhuang.com'
          ? Aegis.environment.production
          : Aegis.environment.others
      const aegis = new Aegis({
        id: 'dWVxJTvjww9eOEq34G',
        reportApiSpeed: true,
        reportAssetSpeed: true,
        hostUrl: 'https://rumt-zh.com',
        env,
      })
    </script>
  </body>
</html>
